.profile {
    width: 90%;
    // background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    // background: linear-gradient(to right, #434343 0%, black 100%);
    height: 85vh;
    margin: 0 auto;
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", "Google sans";

    
    .content {
        margin: 5rem 2rem;
        width: 40%;
        color: white;
        
        p {
            font-size: 1.9rem;
            font-weight: 400;
        }
        
        #hassan {
            font-size: 2.3rem;
        }
        
        #blab {
            font-size: small;
        }
    }
    code {
        width: 60%;
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
        font-style: italic;
        float: right;
        font-size: 2.5rem;
        color: #EE8961;
    }

    .socials {
        display: flex;
        align-items: center;
        // margin-right: 2rem;
    }
    
    .avatar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px; /* Adjust the margin as needed */
        
        img{
            width: 25rem;
        }
    }
    
    .flex-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #real-icons {
            margin: 0 auto;
            // width: 50%;
            margin-top: 7rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    
    .icon {
        display: block;
        margin-bottom: 10px; /* Adjust the margin as needed */
        &:hover{
            transition: 0.3s ease-in-out;
            transform: scale(1.5);
        }
    }
}



.get-cv{
    margin-top: 8rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    border: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        transition: 0.3s ease-in-out;
        transform: scale(1.2);
    }

}