.nav-bar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding: 1% 0.5rem;
    margin: 0 auto;
    align-items: center;
    font-weight: 400;
    position: fixed;
    background-color: black;
    z-index: 1000;
    
    div {
        display: flex;
    }

    #name {
        font-size: 2rem;
        font-weight: bold;
    }

    #navs, #mode {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        transition: 0.3s ease-in-out;
        color: white;
        a {
            cursor: pointer;
            text-decoration: none;
            font-weight: 400;

        }

        a:hover, div:hover {
            transition: 0.3s ease;
            transform: scale(1.09);
            cursor: pointer;
        }
    }

    #contact{
        background-color: transparent;
        color: #fff;
        width: 8rem;
        margin-right: 1.5rem;
        font-size: 110%;
        border: 0.1rem solid white;
        border-radius: 0.2rem;
        padding: 0.7rem;
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        &:hover {
            transition: 0.3s ease;
            transform: scale(1.09);
        }
    }
}

#iconify {
    cursor: pointer;
    &:hover {
        transition: 0.4s ease-in-out;
        transform: scale(1.06);
    }
}
